body {color: black; background: #c0c0c0}
table {font: 13pt arial; color: black; background: #c0c0c0}
.big {font: 15pt arial; color: black; background: #c0c0c0}

.intro {font: 15pt arial; color: black; background: #c0c0c0}
.aspect {font: 13pt arial; color: black; background: white; width: 100%; border: 1px solid black}

input.error, select.error {padding-right: 13px; border: 2px solid red; background-color: #FFFCE2; background-image: url(images/warning_obj.gif); background-position: right; background-repeat: no-repeat;}
input:focus, select:focus {border: 1px solid red; background-color:#EFEFEF;}
.mandatory  { font-weight: bold; }
.comment    { color: #BBBBBB; }


input
  {
   font:13pt arial;
   color: black;
   }

input.weiter
  {border: 1px solid;
   background-color: white;
   font:13pt arial;
   color: black;
   }

input.button
  {border: 0px solid;
   background-color: #ccccff;
   font:13pt arial;
   color: black;
   }

input.button1
  {border: 0px solid;
   background-color: white;
   font:13pt arial;
   color: black;
   }